@charset "utf-8";
@import url('https://unpkg.com/modern-css-reset/dist/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=BIZ+UDPGothic:wght@700&family=Poppins:wght@200&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: inline-block; */
  /* outline: 1px solid red; */
  font-family: 'Poppins', 'BIZ UDMincho', serif;
  /* font-family: 'BIZ UDPGothic', sans-serif; */
  font-feature-settings: "palt";
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

fieldset {
  border: 0;
  padding: 0;
}

p {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}

p:focus-within .labelName {
  transform: translateY(0) scale(0.8);
}

.formTitle {
  margin-bottom: 2rem;
}

.labelName {
  display: block;
  order: 1;
  transition: transform 0.2s;
  transform: translateY(2rem) scale(1);
  transform-origin: 0 100%;
}

input,
textarea {
  order: 2;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 8px;
  border-bottom: 1px solid #333333;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

input:invalid~.errorMessage,
textarea:invalid~.errorMessage {
  display: block;
}

input:invalid~.OKMessage,
textarea:invalid~.OKMessage {
  display: none;
}

input:valid~.errorMessage,
textarea:valid~.errorMessage {
  display: none;
}

input:valid~.OKMessage,
textarea:valid~.OKMessage {
  display: block;
}

input::placeholder,
textarea::placeholder {
  color: transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: transparent;
}

input:placeholder-shown~.messageBox,
textarea:placeholder-shown~.messageBox {
  display: none;
}

input:not(:placeholder-shown)~.labelName,
textarea:not(:placeholder-shown)~.labelName {
  transform: translateY(0) scale(0.8);
}

textarea {
  margin-top: 4px;
  border: 1px solid #999;
}

textarea~.labelName {
  padding-left: 8px;
}

.messageBox {
  padding: 0 8px 8px 8px;
  position: absolute;
  bottom: -36px;
  z-index: -1;
  font-size: 0.9rem;
}

.messageBox.errorMessage {
  color: red;
}

.messageBox.OKMessage {
  color: green;
}

.submitButton {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #000;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.submitButton:disabled {
  background-color: #999;
  color: #ddd;
  cursor: not-allowed;
}

.submitButton:not(:disabled):hover {
  opacity: 0.8;
}
